*,*::before,*::after{padding: 0;margin: 0;border: 0;box-sizing: border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display: block;}
a{text-decoration: none;}
ul,ol,li{list-style: none;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size:inherit;}
html{box-sizing: border-box;height:100%;width: 100%;font-size: 100%;-ms-text-size-adjust: 100%; overflow-x: hidden;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display:none}
button{cursor:pointer}
button::-moz-focus-inner{ padding:0; border:0;}
a,a:visited{text-decoration: none; color: inherit}
a:hover{text-decoration: none;}
img{vertical-align: top;}

::-webkit-scrollbar {
    display: none;
}


body{
    background-color: #F8F8F8 ;
}
.brands {

}
.brands__container {
}
.section__header {
    color: #7E7E82;
    padding:16px;   
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}
.brands__header.section__header{
    padding: 16px 16px 16px 32px;
}
.section__shadow-container {
    background: linear-gradient(270deg, #FFF 0%, #F8F8F8 100%);
}
.brands__shadow-container {
}
.section__header {
    position: relative;
}
.brands__header {
}


.brands__main {
}
.main-brands {
}
.main-brands::after{
    content: '';
    position: absolute;
    left:100%;
    top:0;
    margin: 0px 0px 0px -24px;
    width: 24px;
    height: 72px;
    background: linear-gradient(270deg, #F8F8F8 0.04%, rgba(248, 248, 248, 0.00) 100%);
    /* background-color: peru; */
    z-index:100;
}
.main-brands__items {
    margin: 16px 0px 16px 32px;
    min-width: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    justify-items: center;  -----------
}   
.main-brands__items--wide{
    max-width: 1120px;
    margin: 16px 32px 24px 32px;
}
.main-brands__item{
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    max-height: 72px;
    min-width: 0;
    margin: 0px 16px 16px 0px; /**/
}
.hidden > .main-brands__item:not(:nth-child(-n + 8)){
    display: none;
}
.main-brands__item--body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 16px 0px 16px;
}
.main-brands__logo {
}
.main-brands__svg{
    padding: 16px 0px 16px 0px;
}
.main-brands__svg svg{
    vertical-align: middle;
}


.main-brands .swiper-pagination{
position: static !important;
}

.main-brands .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    line-height: 20px;
    font-size: 14px;
    background-color: #B5B6BC;
}

.main-brands__button--hide{
    display:none;
    top:300px;
}



.main-brands__button{
    position: absolute;
    left: 30px;
    color: #1B1C21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px;
    background: none;
    margin: 0px 0px 0px 0px;
}

.main-brands__button--show{
    top: 210px;
}


.main-brands__button--show::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top:0px;
    left: -30px;
    background-image: url(img/read-more.svg);
}

.main-brands__button--hide::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top:0px;
    left: -30px;
    background-image: url(img/read-less.svg);
}

.hiddenBtn{
    display: none;
}
 @media(min-width: 768px){
    .swiper{
        display: none !important;
    }
    .main-brands__item{
        width: 240px;
    }
    .main-brands__items--wide{
    }
    .main-brands::after{
        display: none;
    }
}

@media(max-width:767px){
    .main-brands__items--wide{
        display: none;
    }
    .main-brands__button{
        display: none;
    }
}

@media(max-width: 1044px){
    .main-brands__items{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
    .main-brands__items--wide {
        margin: 16px 0px 16px 14px;
    }
    .hidden > .main-brands__item:not(:nth-child(-n + 6)){
        display: none;
    } 
    .main-brands__button--hide{
        top:400px;
    }

}

@media(max-width: 816px){
    .main-brands__item{
        width: 224px;
    }
    .brands__header.section__header {
        padding: 16px 16px 16px 24px;
    }
}

@media(max-width:766px){
    .main-brands__items {
        margin: 16px 0px 16px 16px;
    }
}
@media(max-width:537px){
    .brands__header.section__header {
        padding: 16px 16px 16px 16px;
    }
}

@media(min-width: 1200px){
    .main-brands__items--wide{
        margin: 16px  auto 24px auto;
    }
}


@media(min-width:767px){
    .main-brands__item--first{
        position: relative;
    }
    
}